<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>micro swagger</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
     <script defer src="https://use.fontawesome.com/releases/v5.3.1/js/all.js"></script>
    <style>
    .center {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    }
    </style>
</head>
<body>
<div class="container">
<nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      <h1 class="title">micro swagger</h1>
    </a>
    </nav>
<div class="center">

    <aside class="menu">
  <p class="menu-label">
    <a href="/import"><i class="fas fa-sync-alt"></i></a> Swagger Files 
  </p>
  <ul class="menu-list">
   <% stages.types.forEach(function(stage){ %>
    <li><a><%- stage %></a>
<ul>
<% for (i in stages[stage].names){ %>
<li><a href="/swagger?path=<%- stages[stage].files[i] %>"><%- stages[stage].names[i] %></a>
<% }; %>
</ul>
</li>
  <% }); %>

  </ul>
</aside>
</div>
</div>


</body>
</html>
