<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>micro swagger</title>

     <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.2/css/bulma.css" />
    <style>
    .center {
    margin-top: 7%;
    display: flex;
    justify-content: center;
    }
    </style>
</head>
<body>
<div class="container">
<div class="center">
    <aside class="menu">
  <p class="menu-label">
    Swagger Files
  </p>
  <ul class="menu-list">
     <li><a>Team Settings</a></li>
    <li>
      <a>Manage Your Team</a>
      <ul>
        <li><a>Members</a></li>
        <li><a>Plugins</a></li>
        <li><a>Add a member</a></li>
      </ul>
    </li>
  </ul>
</aside>
</div>
</div>


</body>
</html>
